body {
    background-image: url(https://wallpaperstock.net/avengers%2c-marvel%2c-review%2c-universe-wallpapers_56053_1366x768.jpg);
    background-repeat: no-repeat;
    
}

td {
    color: lawngreen;
    font-size: 40px;
}