body { 
    background-image: url(https://all4desktop.com/data_images/1600%20x%20900/4175464-captain-america-HD.jpg);
    background-repeat: no-repeat;
   
    
    
    
}
    
    
 

h1 {
    color: blue;
 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    text-align: justify;
    
    
      
    
}
h2 {
    color: firebrick;
    font-size: 40px;
    text-align: right;
}
    
    td {
        color: green;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 24px;
        text-align: justify;
       
        padding: 20px;
        
        

    
        
       
        
    }

   
   
    
