body {
    background-image: url(https://a-static.besthdwallpaper.com/steve-rogers-von-avengers-endgame-tapete-1920x1080-29778_48.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}